<h1>Home#investigate</h1>
<% if session[:notice] %>
<p>notice: <%= h(session[:notice]) %> </p>
<% end %>
<p><%= h(@a_samples.length) %>,  <%= h(@b_samples.length) %></p>
<% if current_user %>
<p> <%= current_user.screen_name %> </p>
<% else %>
<p>not logged in.  strange.</p>
<% end %>
