<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>きえったー</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="http://platform.twitter.com/anywhere.js?id=YOUR_API_KEY&v=1" type="text/javascript"></script>
</head>
<body>

<%= yield %>

<p><a href="https://github.com/pirapira/kietter">github</a>にソースコードがあるよ．<a href="http://twitter.com/pirapira">@pirapira</a></p>
</body>
</html>
